<%= form_for(comment) do |f| %>
  <%= f.hidden_field :story_id, value: @story.id %>
  <div class="form-group">
    <%= f.text_area :content, size: "40x3", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
