<%= render partial: 'layouts/form_errors', locals: { item: @comment } %>

<h4>Edit comment for <%= link_to @comment.story.name, @comment.story %>:</h4>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
