<% audience = item unless audience %>
<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to audience.name, audience %></h3>
    </div>
  </div>
</div>
