<div class="jumbotron">
  <div class="container">
    <h1>Plot out your next great adventure</h1>
    <p>Use our system to map out your short story or novel.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>