<div class="card writer-card">
  <%= link_to (writer_card_avatar(writer)), writer_path(writer) %>
  <div class="card-body">
    <h4 class="card-title"><%= link_to writer.username, writer_path(writer), class: "card-link" %></h4>
    <p class="card-text"><%= writer_truncated_bio(writer) %></p>
    <% if !writer.genres.empty? %>
    <p class="card-text">
      <% writer.genres.each do |genre| %>
        <%= link_to genre.name, genre, class: "badge badge-genre" %>
      <% end %>
    </p>
    <% end %>
  </div>
</div>
