<div class="col-sm-12 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to writer.username, writer_path(writer) %></h3>
      <p><%= writer.try(:bio) %></p>
      <% if !writer.genres.empty? %>
      <p><strong>Genres:</strong>
        <% writer.genres.each do |genre| %>
          <%= link_to genre.name, genre, class: "label label-primary" %>
        <% end %>
      <% end %>
      </p>
    </div>
  </div>
</div>