<% counter = 0 %>
<% stories.each_with_index do |story, index| %>
  <% if counter == 0 %><div class="row"><% end %>
  <%= render partial: 'stories/story', locals: { story: story } %>
    <% counter += 1 %>
  <% if counter == 3 || (index + 1) == stories.count %></div><!--/.row--><% counter = 0 %><% end %>
<% end %>
