body {
    //background-color: #F8FFEF;
}

.jumbotron {
  //background-image:url("../assets/jumbo.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //height: 400px;
  //padding: 0;
  margin: 0;
}

.field_with_errors {
  color: red;
  input {
    border-color: red;
    display: inline-block;
  }
}

.custom-footer {
	//background-color: #1E0C11;
	padding: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 4px;
  }
}
