@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$default: black;
$main-black: black;
$primary: #42A4D7;
$primary-dark: #1684B5;

html {
  background-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  background-color: transparent;
}

#main-container {
  background-color: white;
  padding: 20px;
}

h1, h2, h3 {
  margin: .8rem 0 .8rem 0;
  // font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem
}

p {
  font-size: 1rem;
  margin: .6rem 0 .6rem 0;
}

a {
  color: $primary;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

a:hover, a:focus {
  color: $primary-dark;
  text-decoration: none;
}

.navbar-main {
  @extend .navbar-inverse;
  border-bottom: 4px solid $primary;
  border-image: linear-gradient(to right, #81D5F2 0%, #0071BC 100%);
	border-image-slice: 1;

  .nav-item {
    .nav-link {
      color: $main-black;
    }

    .nav-link:hover {
      color: $primary;
    }

    .nav-link:focus {
      color: $primary-dark;
    }
  }

}

.navbar-main-bg {
  // @extend .bg-inverse;
  background-color: white;
}

.navbar {
  font-size: 1.05rem;
  color: red;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-main .navbar-toggler-icon { /*override hamburger icon color */
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.masonry-grid {
  // margin: 0 auto; //center grid
}

.card {
  border: 0;
  // border-radius: 0;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.28), 0px 0px 2px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.28), 0px 0px 2px 0px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.28), 0px 0px 2px 0px rgba(0,0,0,0.15);

  .card-title {
    margin-bottom: .3rem;
  }

  .card-text {
    margin: .3rem 0 .3rem 0;
  }
}

.writer-card, .story-card, .character-card {
  width: 250px;
}

@include media-breakpoint-up(xs) {
  .writer-card, .story-card, .character-card {
    width: 400px;
  }
}

@include media-breakpoint-up(sm) {
  .writer-card, .story-card, .character-card {
    width: 350px;
  }
}

@include media-breakpoint-up(md) {
  .writer-card, .story-card, .character-card {
    width: 300px;
  }
}

@include media-breakpoint-up(lg) {
  .writer-card, .story-card, .character-card {
    width: 250px;
  }
}

// @include media-breakpoint-up(xl) {
// }

.card-img-top {
  // border-radius: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

.tag-primary {
  // background-color: $teal;
}

.tag-primary[href]:focus, .tag-primary[href]:hover {
  // background-color: $dark-teal;
}

.tag-warning {
  background-color: $primary;
}

.tag-warning[href]:focus, .tag-warning[href]:hover {
  background-color: $primary-dark;
}

.badge {
  border-radius: .1rem;
  font-size: 80%;
}

.badge-audience {
  @extend .badge-warning;
}

.badge-genre {
  @extend .badge-primary;
}

.badge-story {
  @extend .badge-info;
}

.badge-currently-writing {
  @extend .badge-success;
}

.jumbotron {
  //background-image:url("../assets/jumbo.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //height: 400px;
  //padding: 0;
  background-color: white;
  border: 1px solid #DDDDDD;
  margin: 0;
}

.card {
  margin: .5rem 0 1rem 0;

  a {
    // color: $teal;
  }
}

ul.pagination {
  a.page-link {
    color: $default;
  }

  .page-item.active .page-link {
    background-color: $primary;
    border-color: $primary-dark;
  }
}

.field_with_errors {
  /*@extend .has-error;*/
  color: red;
  display: inline;
  input {
    border-color: red;
  }
}

.custom-footer {
	background-color: #F2F2F2;
  border-top: 4px solid $primary;
  border-image: linear-gradient(to right, #81D5F2 0%, #0071BC 100%);
	border-image-slice: 1;
  color: $main-black;
	padding: 10px 10px 40px 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 4px;
  }

  a {
    color: $main-black;
  }

  a:hover {
    color: $primary;
    text-decoration: none;
  }
}

#footer-social-icons i {
  margin-left: 12px;
}

#footer-pages-nav {
  font-weight: bold;
}

#footer-models-nav {
  font-size: 1rem;

  // .nav-link {
  //   padding: .5rem 1rem;
  // }
}

@include media-breakpoint-up(md) {
  #footer-social-icons {
    @include float-right;
  }
}
