@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$default: black;
$main-black: black;
$bg-dark: #25292C;
$primary: #29ABE2;
$primary-dark: #1684B5;
$cool-gray: #6A8B99;
$yellow: #FFAB4B;
$green: #26D1A4;

html {
  background-color: #F5F8FA;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  background-color: transparent;
}

#main-container {
  padding: 20px;
}

h1, h2, h3 {
  margin: .8rem 0 .8rem 0;
  // font-weight: 600;
}

h1 {
  font-size: 1.65rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem
}

p {
  font-size: 1rem;
  margin: .6rem 0 .6rem 0;
}

a {
  color: $primary;
  transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

a:hover, a:focus {
  color: $primary-dark;
  text-decoration: none;
}

.navbar-main {
  @extend .navbar-dark;
  border-bottom: 4px solid $primary;
  border-image: linear-gradient(to right, #81D5F2 0%, #0071BC 100%);
	border-image-slice: 1;

  .nav-item {
    .nav-link {
      color: white;
    }

    .nav-link:hover {
      color: $primary;
    }

    .nav-link:focus {
      color: $primary-dark;
    }
  }

}

.navbar-main-bg {
  // @extend .bg-dark;
  background-color: $bg-dark;
}

.navbar {
  font-size: 1rem;
  color: #ed113d;
}

.navbar-brand {
  font-size: 1.5rem;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $primary;
}

// .navbar-main .navbar-toggler-icon { /*override hamburger icon color */
// 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
// }

// .masonry-grid {
//   // margin: 0 auto; //center grid
// }

.card {
  margin: 0.5rem 0 1rem 0;
  // border: 1px;
  border-color: rgba($color: black, $alpha: 0.125);
  // border-radius: 0;
}

.card-body {
  padding: 0.75rem 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.05rem;
}

.card-title-small {
  font-size: 1.1rem;
  margin-bottom: 0.2rem;
}

.card-text {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0.3rem 0;
}
.card-text-author {
  margin: 0 0 0.3rem 0;
}

.card-link + .card-link {
  margin-left: 0;
}

.writer-card, .story-card, .character-card {
  width: 250px;
}

@include media-breakpoint-up(xs) {
  .writer-card, .story-card, .character-card {
    width: 400px;
  }
}

@include media-breakpoint-up(sm) {
  .writer-card, .story-card, .character-card {
    width: 350px;
  }
}

@include media-breakpoint-up(md) {
  .writer-card, .story-card, .character-card {
    width: 300px;
  }
}

@include media-breakpoint-up(lg) {
  .writer-card, .story-card, .character-card {
    width: 250px;
  }
}

// @include media-breakpoint-up(xl) {
// }

.card-img-top {
  // border-radius: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
  background-color: $primary-dark;
  border-color: $primary-dark;
}

.tag-primary {
  // background-color: $teal;
}

.tag-primary[href]:focus, .tag-primary[href]:hover {
  // background-color: $dark-teal;
}

.tag-warning {
  background-color: $primary;
}

.tag-warning[href]:focus, .tag-warning[href]:hover {
  background-color: $primary-dark;
}

.badge {
  border-radius: 0.1rem;
  font-size: 80%;
  padding: 0.3em 0.4em;
}

.badge-audience {
  @extend .badge-info;
  background-color: $cool-gray;
}

[href].badge-audience:hover, [href].badge-audience:focus {
  background-color: darken($cool-gray, 10%);
}

.badge-genre {
  @extend .badge-primary;
  background-color: $primary;
}

[href].badge-genre:hover, [href].badge-genre:focus {
  background-color: darken($primary, 10%);
}

.badge-story {
  @extend .badge-warning;
  color: white;
  background-color: $yellow;
}

[href].badge-story:hover, [href].badge-story:focus {
  color: white;
  background-color: darken($yellow, 10%);
}

.badge-currently-writing {
  @extend .badge-success;
  background-color: $green;
}

.jumbotron {
  //background-image:url("../assets/jumbo.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //height: 400px;
  //padding: 0;
  background-color: white;
  border: 1px solid #DDDDDD;
  margin: 0;
}

ul.pagination {
  a.page-link {
    color: $default;
  }

  .page-item.active .page-link {
    background-color: $primary;
    border-color: $primary-dark;
  }
}

.edit-buttons {
  margin-top: 3px;

  .btn-secondary {
    margin-top: 3px;
  }
}

.field_with_errors {
  /*@extend .has-error;*/
  color: #ed113d;
  display: inline;
  input {
    border-color: #ed113d;
  }
}

#error_explanation {
  color: #ed113d;
}

ul.dashed {
  list-style: none;
  padding-left: 0;
}

ul.dashed > li {
  margin-left: 15px;  
}

/* Prevent nested li's from getting messed up */
ul.dashed > li::before {
  content: "-";
  // margin-left: -15px;
}

.custom-footer {
	background-color: $bg-dark;
  border-top: 4px solid $primary;
  border-image: linear-gradient(to right, #81D5F2 0%, #0071BC 100%);
	border-image-slice: 1;
  color: #969897;
  font-size: 1rem;
	padding: 10px 10px 40px 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 4px;
  }

  a {
    color: #969897;
  }

  a:hover {
    color: $primary;
    text-decoration: none;
  }

  .nav-link {
    padding: 0.3rem 0.6rem;
  }
}

#footer-social-icons i {
  margin-left: 12px;
}

#footer-pages-nav {
  font-weight: bold;
}

#footer-models-nav {
  font-size: 0.95rem;

  // .nav-link {
  //   padding: 0.2rem 0.5rem;
  // }
}

@include media-breakpoint-up(md) {
  #footer-social-icons {
    @include float-right;
  }
}
