<% counter = 0 %>
<% items_in_row = collection_grid_check_items_in_row(collection) %>

<% collection.each_with_index do |item, index| %>
  <% if counter == 0 %><div class="row"><% end %>
  <%= collection_grid_render_partial(item) %>
  <% counter += 1 %>
  <% if counter == items_in_row || (index + 1) == collection.count %></div><!--/.row--><% counter = 0 %><% end %>
<% end %>
